<ScrollView>
    <StackLayout *ngIf="item">
        <StackLayout *ngIf="item && item.ImageURL && item.ImageURL != null" class="header">
            <Image class="image" src="{{item.ImageURL}}" stretch="aspectFill"></Image>
            <Label text="{{item.Description}}"></Label>
        </StackLayout>
        <StackLayout height="300" backgroundColor="yellow">
            <Label text="Pozostałe detale - TODO wyciągnąć item (razem ze zdjęciem tu i w appointment item"></Label>
        </StackLayout>
        <Button text="Wynajmij" [nsRouterLink]="['/appointments']"></Button>
    </StackLayout>
</ScrollView>