<StackLayout class="form">

    <StackLayout class="input-field">
        <TextField hint="Email" autocorrect="false" keyboardType="email" [(ngModel)]="loginField">
        </TextField>
    </StackLayout>

    <StackLayout class="input-field">
        <TextField hint="Password" autocorrect="false" secure="true" [(ngModel)]="passwordField">
        </TextField>
    </StackLayout>

    <!-- <Button id="loginButton" text="Login" (tap)="onLogin()" isEnabled="{{isFormValid()}}"></Button> -->
    <Button id="loginButton" text="Login" (tap)="onLogin()"></Button>

    <label *ngIf="errorMessage" [text]="errorMessage"></label>

</StackLayout>