<RadSideDrawer>
    <GridLayout tkDrawerContent [drawerTransition]="drawerTransition" rows="*" class="sideStackLayout" allowEdgeSwipe="true">
        
        <StackLayout class="sideTitleStackLayout">
            <Label text="Nuzzle menu"></Label>
        </StackLayout>
        <ScrollView row="1">
            <StackLayout class="sideStackLayout">
                <!-- Menu options / styling? -->
            </StackLayout>
        </ScrollView>
    </GridLayout>

    <page-router-outlet tkMainContent class="page page-content"></page-router-outlet>

</RadSideDrawer>