<RadSideDrawer>
    <GridLayout tkDrawerContent rows="*" class="sideStackLayout" allowEdgeSwipe="true">
        <StackLayout class="sideTitleStackLayout" padding=10>
            <Label class="app-name" text="Nuzzle"></Label>
            <ScrollView row="1">
                <DockLayout class="sideStackLayout" height=100%>
                    <StackLayout class="profile-box" dock=top>
                        <Image class="profile-pic" borderRadius="100%" src={{user.PhotoURL}}
                            *ngIf="user && user.PhotoURL && user.PhotoURL != null" stretch="aspectFill"></Image>
                        <Label class="user-name" *ngIf="user" text="{{user.Name}} {{user.Surname}}"></Label>
                        <Button class="drawer-button" text="Edytuj profil" [nsRouterLink]="['/login-proxy']"></Button>   
                    
                    </StackLayout>
                    <Button class="drawer-button" text="Oferty pracy" dock=top (tap)="onAppointmentsTap()"></Button>
                    <Button class="drawer-button" text="Moje ogłoszenia" dock=top
                        (tap)="onMyAppointmentsTap()"></Button>
                    <Button class="drawer-button" text="Wiadomości" dock=top (tap)="onMessagesTap()"></Button>
                    <Button class="drawer-button" text="Wyloguj" dock=bottom (tap)="onLogout()"
                        verticalAlignment=bottom></Button>
                </DockLayout>
            </ScrollView>
        </StackLayout>
    </GridLayout>

    <page-router-outlet tkMainContent class="page page-content"></page-router-outlet>

</RadSideDrawer>