<StackLayout id="wrapper" (tap)="showAppointmentDetails()">
    <WrapLayout id="image">
        <Label id="image-description" text="Zdjęcie"></Label>
    </WrapLayout>
    <StackLayout id="description" orientation="vertical" backgroundColor="gray">
        <Label class="title" text="Tytuł opisujący ogłoszenie" backgroundColor="blue"></Label>
        <FlexBoxLayout orientation="horizontal" justifyContent="space-around" height="100%">
                <Label class="details" text="Address"></Label>
                <Label class="details" text="Opis" ></Label>
                <Label class="details" text="Cena"></Label>
        </FlexBoxLayout>
    </StackLayout>
</StackLayout>
