<StackLayout id="wrapper" (tap)="showAppointmentDetails(item)" *ngIf="item">
    <WrapLayout id="image" *ngIf="item">
        <Label id="image-description" text="Zdjęcie"></Label>
    </WrapLayout>
    <StackLayout id="description" orientation="vertical" backgroundColor="gray">
        <Label class="title" text="{{item.Label}}" backgroundColor="blue"></Label>
        <FlexBoxLayout orientation="horizontal" justifyContent="space-around" height="100%">
            <Label class="details" text="{{item.Address}}"></Label>
            <Label class="details" text="{{item.Description}}"></Label>
            <Label class="details" text="{{item.Price}}"></Label>
        </FlexBoxLayout>
    </StackLayout>
</StackLayout>