<AbsoluteLayout>
    <StackLayout id="my-appointments">
        <StackLayout class="view-title">
            <Label class="title" text="MOJE OGŁOSZENIA"></Label>
        </StackLayout>
        <ScrollView (swipe)="onSwipe($event)">
            <StackLayout>
                <app-appointment-item *ngFor="let item of offerItems" [item]="item" [myOffer]="true"></app-appointment-item>
            </StackLayout>
        </ScrollView>
    </StackLayout>
    <FAB (tap)="newAppointment()" text="+" rippleColor="yellow" class="fab-button" marginTop=80% marginLeft=70%>
    </FAB>
</AbsoluteLayout>